Repository astronomer/astronomer, pull requests merged in 2020-06, with the labels that each got.

#698 Commander 0.15.1
  charts/astronomer/values.yaml
Labels: 0.15

#719 Change houston charts from npm to yarn
  charts/astronomer/templates/houston/houston-check-updates-cronjob.yaml
  charts/astronomer/templates/houston/houston-cleanup-deployments-cronjob.yaml
  charts/astronomer/templates/houston/houston-expire-deployments-cronjob.yaml
  charts/astronomer/templates/houston/houston-upgrade-deployments-job.yaml
  charts/astronomer/values.yaml
Labels: area/houston-api

#722 Update install script to get latest minor version
  charts/astronomer/templates/cli-install/cli-install-configmap.yaml
  charts/astronomer/values.yaml
Labels: area/houston-api

#740 Add labels for later versions of cAdvisor
  charts/prometheus/templates/prometheus-config-configmap.yaml
Labels: area/grafana, area/helm, area/prometheus
