Repository astronomer/astronomer, pull requests merged in 2020-03, with the labels that each got.

#577 Prometheus rules
  charts/prometheus/templates/prometheus-alerts-configmap.yaml
Labels: area/prometheus

#599 Add ability to adjust replica count for kube-state-metrics
  charts/kube-state/templates/kube-state-deployment.yaml
  charts/kube-state/values.yaml
Labels: area/helm

#598 Prometheus alert rules fixes after testing in stage
  charts/prometheus/templates/prometheus-alerts-configmap.yaml
  charts/prometheus/templates/prometheus-config-configmap.yaml
Labels: area/prometheus

#601 Dropping things that start with id was causing duplicate records
  charts/prometheus/templates/prometheus-config-configmap.yaml
Labels: area/prometheus, kind/bug

#589 Prometheus lifecycle api
  charts/prometheus/templates/prometheus-statefulset.yaml
  charts/prometheus/values.yaml
Labels: area/prometheus

#610 Upgrade Astro UI version
  Chart.yaml
  charts/astronomer/values.yaml
Labels: area/astro-ui

#615 Fix for some metrics being collected with wrong labels
  charts/prometheus/templates/prometheus-config-configmap.yaml
Labels: kind/bug, priority/important

#605 Add prom blackbox
  bin/run-ci
  charts/prometheus-blackbox-exporter/Chart.yaml
  charts/prometheus-blackbox-exporter/README.md
  charts/prometheus-blackbox-exporter/templates/_blackbox-cli-install-policy.yaml
  charts/prometheus-blackbox-exporter/templates/_blackbox-commander-policy.yaml
  charts/prometheus-blackbox-exporter/templates/_blackbox-es-client-policy.yaml
  charts/prometheus-blackbox-exporter/templates/_blackbox-grafana-policy.yaml
  charts/prometheus-blackbox-exporter/templates/_blackbox-houston-policy.yaml
  charts/prometheus-blackbox-exporter/templates/_blackbox-kibana-policy.yaml
  charts/prometheus-blackbox-exporter/templates/_blackbox-registry-policy.yaml
  charts/prometheus-blackbox-exporter/templates/_helpers.tpl
  charts/prometheus-blackbox-exporter/templates/blackbox-networkpolicies.yaml
  charts/prometheus-blackbox-exporter/templates/configmap.yaml
  charts/prometheus-blackbox-exporter/templates/deployment.yaml
  charts/prometheus-blackbox-exporter/templates/service.yaml
  charts/prometheus-blackbox-exporter/values.yaml
  charts/prometheus/templates/prometheus-config-configmap.yaml
  charts/prometheus/values.yaml
  requirements.yaml
  values.yaml
Labels: area/prometheus
